name: CI

on:
  push:
    branches:
    - '!gh-pages'

jobs:
  build:

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Build with dotnet
      run: dotnet build -c Release
