name: Deployment

on:
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+**

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Fetch all history for all tags and branches so GitVersion can work its magic
      run: git fetch --prune --unshallow

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.300

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Package
      run: dotnet pack --configuration Release --no-build

    - name: Push to nuget.org
      env:
        NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
      run: dotnet nuget push "src/AspNetCore.TypedActionResults/bin/Release/*.nupkg" -s https://api.nuget.org/v3/index.json -k $env:NUGET_APIKEY
