name: Deployment

on:
  push:
    tags:
    - ^v\d+\.\d+\.\d+(-.+)?$

jobs:
  deploy:

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Build and package with dotnet
      run: dotnet pack -c Release

    - name: Push to nuget.org
      env:
        NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
      run: dotnet nuget push "src/AspNetCore.TypedActionResults/bin/Release/AspNetCore.TypedActionResults.*.nupkg" -n -s https://api.nuget.org/v3/index.json -k $env:NUGET_APIKEY
